---
const links = [
  {
    name: "Website",
    url: "https://heruseptiahutowi-website.netlify.app/",
  },
  {
    name: "Blog",
    url: "https://medium.com/@heruseptiahutowi",
  },
  {
    name: "Connect",
    url: "https://www.linkedin.com/in/heru-s-186146193/",
  },
];

const socialLinks = [
  {
    name: "Twitter",
    url: "https://twitter.com/Hutowii1",
    image: "https://cdn.simpleicons.org/twitter/white",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/hutowii/",
    image: "https://cdn.simpleicons.org/instagram/white",
  },
  {
    name: "Github",
    url: "https://github.com/heruseptiahutowi",
    image: "https://cdn.simpleicons.org/github/white",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Heru Septia Hutowi</title>
  </head>
  <body class="bg-gradient-to-b from-sky-100 bg-sky-800">
    <main
      class="max-w-sm w-screen min-h-screen mx-auto shadow-lg py-20 px-5 flex flex-col items-stretch justify-center"
    >
      <div
        class="kotak rounded-lg w-[160px] min-h-[160px] h-[160px] self-center"
      >
        <img
          class="w-full h-full rounded-full"
          src="https://scontent.fbks1-1.fna.fbcdn.net/v/t39.30808-6/412493465_6947074938720969_5517178947356789698_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeGRnERKewSEyla-bjzXjENSBwISreRNGWQHAhKt5E0ZZN04hYiPPnxkJzD2vnz_mQuzJc-00i0SfRV04Mo3xsn5&_nc_ohc=zdCF74Jq044AX9y5Dme&_nc_zt=23&_nc_ht=scontent.fbks1-1.fna&oh=00_AfC1cfWp58Uw6bNDSRQ3-ov_sLiLXip1KyIrpkM3ca5cjQ&oe=658B0047"
          alt="
          Heru
          Septia
          Hutowi"
        />
      </div>

      <div class="flex text-sky-50 flex-col items-center mt-8">
        <h1 class="text-2xl font-bold text-sky-800">Heru Septia Hutowi</h1>
        <p class="font-bold text-sky-100">Data Engineer</p>
      </div>

      <ul class="mt-10 space-y-3">
        {
          links.map((link) => (
            <li class="hover:-translate-y-1 transition duration-150 hover:shadow">
              <a href={link.url}>
                <div class="kotak font-semibold text-lg text-white text-center tracking-wide rounded-lg w-full bg-sky-700 hover:bg-sky-800 duration-150 px-10 py-6">
                  {link.name}
                </div>
              </a>
            </li>
          ))
        }
      </ul>

      <ul class="flex mt-10 justify-center space-x-4">
        {
          socialLinks.map((link) => (
            <li class="hover:-translate-y-1 duration-100">
              <a href={link.url}>
                <div class="rounded-full w-[60px] h-[60px] bg-sky-900 border-2 border-sky-700 p-4 hover:bg-sky-800 duration-100">
                  <img src={link.image} alt="" />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
