---
const links = [
  {
    name:"New Writting",
    url:"https://medium.com/@heruseptiahutowi",
  },
  {
    name:"Personal Website",
    url:"https://heruseptiahutowi.vercel.app/",
  },
];

const sociallinks = [
  {
    name:"Linkedin",
    url:"https://www.linkedin.com/in/heru-s-186146193/",
    image:"https://cdn.simpleicons.org/linkedin/white",
  },
  {
    name:"Instagram",
    url:"https://instagram.com/hutowii",
    image:"https://cdn.simpleicons.org/instagram/white",
  },
  {
    name:"Github",
    url:"https://github.com/heruseptiahutowi",
    image:"https://cdn.simpleicons.org/github/white",
  },
];

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Heru Septia Hutowi</title>
  </head>
  <body class="bg-gradient-to-b from-blue-50 bg-blue-800">
   <main class="max-w-sm w-screen min-h-screen mx-auto shadow-lg py-20 px-5 flex flex-col items-strecth justify-center">
    <div class="kotak rounded-lg w-[200px] min-h-[200px] self-center">
      <img class="w-full h-full rounded-full"
      src="src/pages/fotoprofil.jpg" alt="Heruseptiahutowi">
    </div>

    <div class="flex text-cyan-50 flex-col items-center mt-8">
      <h1 class="text-2xl font-bold">Heru Septia Hutowi</h1>
      <p class="text-1xl font-semibold" >Farmer and Programer</p>
    </div>

    <ul class="mt-10 space-y-3">
      {links.map(link =>(
        <li class="hover:-translate-y-1 transition duration-150 hover:shadow">
        <a href={link.url}>
          <div class="kotak font-semibold text-white text-center tracking-wide rounded-lg w-full bg-blue-700 hover:bg-blue-800 duration-150 p-10 py-6">{link.name} </div>
        </a>
      </li>
      ))
     }
    </ul>

    <ul class="flex mt-10 justify-center space-x-4">
      {sociallinks.map((link) =>(
        <li class="hover:-translate-y-1 duration-100">
        <a href={link.url}>
          <div class="rounded-full w-[60px] h-[60px] bg-blue-700 border-2 npm rborder-blue-700 hover:bg-blue-800 duration-100 p-4">
            <img src={link.image} alt="heruseptiahutowi"/></div>
        </a>
      </li>
      ))
    }  
    </ul>
   </main>
  </body>
</html>
